:root {
    --dominant-color: #FFFFFF;
    --bg-color: #130404;
    --second-bg-color: #2D0D0D;
    --accent-color: #FFF72E;
    --btn-color: #4CB63A;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: var(--dominant-color);
    background-color: var(--bg-color);
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.button{
    font-weight: 600;
    padding: 10.5px 0;
    background: var(--btn-color);
    border-radius: 12px;
}

.button-login{
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.title{
    color: var(--accent-color);
    font-weight: 700;
}

.title-big{
    font-size: 32px;
    line-height: 38.4px;
}

.section{
    border-radius: 12px;
    background-color: var(--second-bg-color);
}

.section-gradient{
    background-image: linear-gradient(to right, var(--second-bg-color), var(--bg-color));
}

.item-gradient{
    background-image: linear-gradient(to right, var(--bg-color), var(--second-bg-color));
}